/*
 * Copyright 2022 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  padding: 6px;
}

.hint-popup-wrapper {
  max-width: 232px;
  font-size: 12px;
  line-height: 1.4;
}

code {
  background-color: var(--color-background-elevation-1);
  padding: 0 2px;
  font-size: var(--source-code-font-size);
  font-family: var(--source-code-font-family);
}

.property {
  color: var(--color-syntax-1);
}

.hint-popup-possible-fix {
  margin-top: 8px;
}

.clickable {
  color: var(--color-link);
}

.underlined {
  text-decoration: underline;
}

.unbreakable-text {
  white-space: nowrap;
}
